*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 32px;
    align-items: center;
    background-color: #170F11;
    color: white;
    
}

.header
{
    display: flex;
    background-color: #797270;
    width: 85%;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 25px;
}
h1
{
    color: #ffffff;
    /*background: linear-gradient(to right, #644192, #644192);
    background-clip: text;
    -webkit-text-fill-color: transparent;*/
    padding: 25px;
    font-size: 50px;
    font-weight: 900;
}

.meus-livros
{
    background-color: #797270;
    width: 85%;
    margin-top: 20px;
    border-radius: 20px;
    padding: 20px;
}

.add-book{

    background-color: #A7A7A9;
    padding: 20px;
    border-radius: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 70%;
}

.inputStyle
{
    width: 80%;
}

.add-book input
{
    background-color: #797270;
    border-radius: 25px;
    border: none;
    outline: none;
    color: white;
    font-size: 20px;
    height: 60px;
    width: 100%;
    padding-left: 20px;
}
::-webkit-input-placeholder{
    color: #A7A7A9;
    font-style: italic;
} 

.add-book button
{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    padding: 8px 16px;
    height: 60px;
    width: 80%;
    transition: 0.3s;
    font-size: 17px;

    background-color: #9B287B;
    color: white;

    font-weight: bold;
    cursor: pointer;
    border: none;

}
.add-book button:hover
{
    transform: scale(1.1);
    background-color: #721d5a;
}

.book-list 
{

    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4px;
}

.book
{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    gap: 30px;
    background-color: #20131c;
    padding: 30px;
    border-radius: 25px;
    transition: 0.3s;
}
.book:hover
{
    background-color: #721d5a;
}

.book p
{
    flex: 1;
    font-size: 18px;
    margin-right: 15px;
}
.book button
{
    background: none;
    border: none;
    cursor: pointer;
}

.no-book
{
    font-size: 14px;
    text-align: center;
    opacity: 0.5;
    display: block;
}

.book img 
{
    width: 40px; 
    height: 40px; 
    transition: 0.2s;
}
.book img:hover
{
    transform: scale(1.1);
}
  